.login-container {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  text-align: center;

  form {
    display: flex;
    flex-direction: column;

    mat-form-field {
      margin-bottom: 20px;
      width: 100%;
    }

    button {
      width: 100%;
    }
  }
}
